.chat {
  max-width: 600px;
}

.chat .container-writing {
  height: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (max-width: 480px) {
  .chat {
    margin: 0 !important;
    height: 100vh;
    border-radius: 0;
  }
  .chat .card-body {
    padding: 10px 10px 0 10px;
  }
}
